#!/bin/bash

{{ template "setup.tmpl" . }}

{{ template "openshift-cluster-prelude.sh.tmpl" . }}

job_info "General OC info"
oc adm top images
oc adm top imagestreams
oc adm top node

job_info "Multi Cluster Manager Staus"
oc adm top pod -n {{ .ParamExpand "openshift/acm-namespace" }}
oc get mch -n {{ .ParamExpand "openshift/acm-namespace" }}
oc get multiclusterhub multiclusterhub -n {{ .ParamExpand "openshift/acm-namespace" }}
oc get csv -n {{ .ParamExpand "openshift/acm-namespace" }}
oc get pods -n {{ .ParamExpand "openshift/acm-namespace" }}
oc get services -n {{ .ParamExpand "openshift/acm-namespace" }}
